@model waats.Models.BrainFitnessVM
@{
    ViewBag.Title = "Add new brain fitness";
    Layout = null;//"~/Views/Shared/_LayoutUnauthed.cshtml";
}
@*@using (Html.BeginForm(null, null, new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "BrainFitnessForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.BrainFitnessID)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.StartingNumber)
    @Html.HiddenFor(model => model.Q_Add)
    @Html.HiddenFor(model => model.Q_Take)
    @Html.HiddenFor(model => model.Q_A)
    @Html.HiddenFor(model => model.Q_NoofAttempts)
    <h5 class="mb-4 fw-bold text-warning-emphasis">
        This is a mental exercise please do math/calculation in your head.
    </h5>
    <br />
    <div class="card-body text-dark-emphasis">
        <div class="row pb-3">
            <div class="col-md-5">
                <h5> Starting Number</h5>
            </div>
            <div class="col-md-7">
                <h5 class="text-warning-emphasis fw-bold">@Model.StartingNumber</h5>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-5">
                <h5> </h5>
            </div>
            <div class="col-md-7">
                <h5 class="text-warning-emphasis fw-bold">@Model._a</h5>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-5">
                <h5> </h5>
            </div>
            <div class="col-md-7">
                <h5 class="text-warning-emphasis fw-bold">@Model._t</h5>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-12">
                <div class="col-md-12">
                    @Html.EditorFor(model => model._UI, new { htmlAttributes = new { @class = "form-control section1C", id = "_UI" } })
                    @Html.ValidationMessageFor(model => model._UI, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="spacer5"></div>
    <div class="spacer5"></div>
    <div class="row">

        <div class="col-sm-12">
            <div class="text-start">
                @{
                    if (Model != null)
                    {
                        <input type="submit" value="Submit" class="btn btn-warning float-end" />
                    }
                }
            </div>
        </div>
    </div>
}*@

@using (Html.BeginForm(null, null, new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form", @id = "BrainFitnessForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.BrainFitnessID)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.StartingNumber)
    @Html.HiddenFor(model => model.Q_Add)
    @Html.HiddenFor(model => model.Q_Take)
    @Html.HiddenFor(model => model.Q_A)
    @Html.HiddenFor(model => model.Q_NoofAttempts)
    @*<div class="offcanvas offcanvas-end" tabindex="-1" id="brainExerciseDrawer">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">New Brain Exercise</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>*@
        <div class="offcanvas-body">
            <p class="text-muted">This is a mental exercise. Please do math/calculation in your head.</p>

            <!-- Exercise Form -->
            <form>
                <div class="formWrapper">
                    <div class="d-flex justify-content-between">
                        <label for="startingNumber" class="form-label">Starting Number</label>
                        <input type="text" class="form-control-md" id="startingNumber" value="@Model.StartingNumber" disabled>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for="addTimes" class="form-label">Add</label>
                        <input type="text" class="form-control-md" id="addTimes" value="@Model._a" disabled>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for="takeTimes" class="form-label">Take</label>
                        <input type="text" class="form-control-md" id="takeTimes" value="@Model._t" disabled>
                    </div>
                </div>
                <div class="d-flex flex-column answerInput">
                    <label for="answer" class="form-label mb-2">Your Answer</label>
                    @*<input type="text" class="form-control mb-0" id="answer" placeholder="Write your answer here">*@
                    @Html.EditorFor(model => model._UI, new { htmlAttributes = new { @class = "form-control mb-0", id = "_UI" } })
                    @Html.ValidationMessageFor(model => model._UI, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    @*</div>*@
}
