@model waats.Models.GratitudeJournalVM
@{
    ViewBag.Title = "Add new task";
    Layout = null;
}
@using (Html.BeginForm(null, null, new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "GratitudeJournalForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.GratitudeJouralID)
    @Html.HiddenFor(model => model.UserId)

<div class="px-2">
    <div class="d-flex flex-column answerInput mt-3">
        @Html.LabelFor(m => m.thingsiamgratfullfortoday, new { @class = "form-label mb-2" })
        @Html.TextAreaFor(model => model.thingsiamgratfullfortoday, new { @class = "form-control", @rows = "3", @maxlength = "4000" })
        @Html.ValidationMessageFor(m => m.thingsiamgratfullfortoday, "", new { @class = "text-danger" })
    </div>
    @{
        if (Model != null && Model.UserId != null)
        {
            <input type="submit" value="Update task" class="btn btn-primary w-100" />
        }
        else
        {
            <input type="submit" value="Add task" class="btn btn-primary w-100" />
        }
    }
</div>
}