@model waats.Models.ScheduleTaskVM
@{
    ViewBag.Title = "Add new task";
    Layout = null;
}
@using (Html.BeginForm(null, null, new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form", @id = "staskForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.LocalID)
    @Html.HiddenFor(model => model.UserId)

    <div class="px-2">
        <div class="d-flex flex-column answerInput mt-3">
            @Html.LabelFor(m => m.Title, new { @class = "form-label mb-2" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Title" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>
        <div class="d-flex flex-column answerInput mt-3">
            @Html.LabelFor(m => m.Description, new { @class = "form-label mb-2" })
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "3", @maxlength = "4000", placeholder = @Html.DisplayNameFor(m => m.Description) })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>
        @{
            if (Model != null && Model.UserId != null)
            {
                <input type="submit" value="Update task" class="btn btn-primary w-100" />
            }
            else
            {
                <input type="submit" value="Add task" class="btn btn-primary w-100" />
            }
        }
    </div>
}