@model waats.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutUnauthed.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-sm-block col-sm-2 col-md-3"></div>
            <div class="col-12 col-sm-8 col-md-6">
                <div class="spacer20"></div>
                <div id="logbox" class="card mt-0">
                    <div class="card-body">
                        @*<div class="text-center">
                            @Html.ActionLink("Wholly Automated ADHD Triage Service", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fw-semibold" })<br />
                        </div>
                        <hr />*@
                        <div class="row">
                            <div id="clientDisplay" class="col-xs-12 col-sm-12">
                                <div class="outframe">
                                    <div style="background-color: #ffffff; border: 1px solid #c6cbd2; padding: 0 0; min-height: 350px;">
                                        <div class="alert alert-info" role="alert" style="margin-bottom:5px;">
                                            <h6 class="fw-semibold">Forgot your password? Enter your email.</h6>
                                        </div>
                                        <div style="padding: 10px 10px;">
                                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="row  no-gutters">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-12 col-form-label" })
                                                            <div class="col-md-12">
                                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input type="submit" class="btn btn-block btn-lg btn-primary" value="Email Link" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
