@using waats.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutUnauthed.cshtml";
}
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-sm-block col-sm-2 col-md-3"></div>
            <div class="col-12 col-sm-8 col-md-6">
                <div class="spacer20"></div>
                <div id="logbox" class="card mt-0">
                    <div class="card-body">
                        @*<div class="text-center">
                            @Html.ActionLink("Wholly Automated ADHD Triage Service", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fw-semibold" })<br />
                        </div>
                        <hr />*@
                        <div class="row">
                            <div id="clientDisplay" class="col-xs-12 col-sm-12">
                                <div class="outframe">
                                    <div style="background-color: #ffffff; border: 1px solid #c6cbd2; padding: 0 0; min-height: 350px;">
                                        <div class="alert alert-info" role="alert" style="margin-bottom:5px;">
                                            <h6 class="fw-semibold">Enter your registered details for access.</h6>
                                        </div>
                                        <div style="padding: 10px 10px;">
                                            @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "loginform" }))
                                            {
                                                @Html.AntiForgeryToken()

                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
                                                    <div class="col-md-12">
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
                                                    <div class="col-md-12">
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @autocomplete = "off" })
                                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="spacer5"></div>
                                                <div class="spacer5"></div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                                                        <div class="container-fluid">
                                                            <div class="text-start">
                                                                <span class="forgot">&raquo; @Html.ActionLink("Forgotten your password?", "ForgotPassword", "Account", new { @class = "fw-medium" })</span>
                                                                <div class="spacer5"></div>
                                                                <span class="forgot">&raquo; @Html.ActionLink("Need to create an account", "Register", "Account", new { @class = "fw-medium" })</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                                                        <div class="container-fluid text-start">
                                                            <input type="submit" value="Sign In" class="btn btn-block btn-lg btn-primary" />
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer50"></div>
                </div>
                <div class="d-none d-sm-block col-sm-2 col-md-3"></div>
            </div>
        </div>
    </div>
