@model waats.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutUnauthed.cshtml";
}
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-sm-block col-sm-2 col-md-3"></div>
            <div class="col-12 col-sm-8 col-md-6">
                <div class="spacer20"></div>
                <div id="logbox" class="card mt-0">
                    <div class="card-body">
                        @*<div class="text-center">
                            @Html.ActionLink("Wholly Automated ADHD Triage Service", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fw-semibold" })<br />
                        </div>
                        <hr />*@
                        <div class="row">
                            <div id="clientDisplay" class="col-xs-12 col-sm-12">
                                <div class="outframe">
                                    <div style="background-color: #ffffff; border: 1px solid #c6cbd2; padding: 0 0; min-height: 350px;">
                                        <div class="alert alert-info" role="alert" style="margin-bottom:5px;">
                                            <h6 class="fw-semibold">@ViewBag.Title</h6>
                                        </div>
                                        <div style="padding: 10px 10px;">
                                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <hr />
                                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.Code)
                                                <div class="row">
                                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                                                    <div class="col-md-10">
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
                                                    <div class="col-md-10">
                                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="offset-md-2 col-md-10">
                                                        <input type="submit" class="btn btn-outline-dark" value="Reset" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                    @section Scripts {
                                        @Scripts.Render("~/bundles/jqueryval")
                                    }
